<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Todo</title>
</head>
<body>
    <h1>Todo List</h1>
    <h3 th:if="${message}" th:text="${message}"></h3>
    <form method="post" action="/todos/create">
        <input name="title"><span th:if="${errors and #maps.containsKey(errors, 'title')}"
            th:text="${errors['title']}"></span>
        <button>create</button>
    </form>
    <hr>
    <table th:if="${not #lists.isEmpty(todos)}">
        <thead>
            <tr>
                <th>title</th>
                <th>created</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}" th:object="${todo}">
                <td th:text="*{title}"></td>
                <td th:text="*{#temporals.formatISO(created)}"></td>
                <td th:switch="*{finished}"><span th:case="true">finished</span>
                    <form th:case="*" method="post" action="/todos/finish">
                        <button name="id" th:value="*{id}">finish</button>
                    </form></td>
                <td><form method="post" action="/todos/remove">
                        <button name="id" th:value="*{id}">remove</button>
                    </form></td>
            </tr>
        </tbody>
    </table>
</body>
</html>